@model OrderModel

@{
    ViewData["Title"] = "Добавить заказ";
}

<h1>Добавить заказ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="application/x-www-form-urlencoded" method="post">
            <div class="mb-3">
                <textarea asp-for="OrderText" class="form-control" placeholder="Введите заказ" required style="resize: none; width: 400px; height: 300px"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Отмена</a>
</div>