@model OrderModel

@{
    ViewData["Title"] = "Добавить заказ";
}

<h1>Добавить заказ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="application/x-www-form-urlencoded" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <textarea asp-for="OrderText" class="form-control" placeholder="Введите текст заказа" style="resize: none; width: 400px; height: 300px"></textarea>
                <span asp-validation-for="OrderText" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="btn btn-secondary" onclick="location.href='@Url.RouteUrl(new { controller = "Home", action = "Index" })'">Отмена</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
